#leftNum {
    height: 100%;
    width: 100%;
    resize: none;
    outline: none;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 0;
    background: rgb(247, 247, 247);
    color: #999;
    line-height: 24px;
    font-size: 14px;
    padding: 10px 4px;
    text-align: right;
    font-weight: bold;
    box-sizing: border-box;
}

#leftBox {
    background: #ecf0f5;
    width: 35px;
    height: 502px;
    text-align: left;
    float: left;
}

#codeArea {
    border: 1px solid #eaeaea;
    outline: none;
    width: 800px;
    height: 100%;
    resize: none;
    background: rgb(0, 0, 0);
    line-height: 24px;
    font-size: 14px;
    float: left;
    padding: 10px 8px;
    color: rgb(255, 255, 255);
    font-family: inherit;
    box-sizing: border-box;
}